# This file requires https://direnv.net/
# Created on 09/10/2024 12:31 PM by Alan Cota.

# Global Settings
# ------------------------------------------------------------

export ENVIRONMENT=local
export COMPOSE_FILE=docker-compose-$ENVIRONMENT.yml
export DOCKER_TAG=1.1.6-$ENVIRONMENT-rc1
export VERSION=$DOCKER_TAG
export PROJECT_NAME=crAPI-$VERSION

# Global Log Level
export LOG_LEVEL=DEBUG

# Global TLS
export IDENTITY_TLS_ENABLED=false
export COMMUNITY_TLS_ENABLED=false
export WORKSHOP_TLS_ENABLED=false
export WEB_TLS_ENABLED=false

# Domains
export DOMAIN_NAME=shadylaneautos.com

# Identity Services
# ------------------------------------------------------------
export IDENTITY_SERVICE_NAME=crapi-identity
export IDENTITY_SERVER_PORT=8080

# Community Services
# ------------------------------------------------------------
export COMMUNITY_SERVICE_NAME=crapi-community
export COMMUNITY_SERVER_PORT=8087

# Workshop Services
# ------------------------------------------------------------
export WORKSHOP_SERVICE_NAME=crapi-workshop
export WORKSHOP_SERVER_PORT=8000

# Web Services
# ------------------------------------------------------------
export WEB_SERVICE_NAME=crapi-web
export WEB_SERVER_PORT=8889
export WEB_SERVER_PORT_SSL=8443

# Mailhog Services
# ------------------------------------------------------------
export MAILHOG_SERVICE_NAME=mailhog
export MAILHOG_SERVER_PORT=8025
