# This file requires https://direnv.net/
# Created on 09/10/2024 12:31 PM by Alan Cota.

# Global Settings
# ------------------------------------------------------------

export ENVIRONMENT=local
export COMPOSE_FILE=docker-compose-$ENVIRONMENT.yml
export DOCKER_TAG=1.1.6-$ENVIRONMENT-rc1
export VERSION=$DOCKER_TAG
export PROJECT_NAME=crAPI-$VERSION
